.Projets
{
	/*background: red;*/
	margin-top: 8%;
}
.All-Projets
{
	/*background: #D0A9F5;*/
}

.Projet-Info
{
	background: #A9BCF5;
	font-family: serif;
}

.Projet-Resultat
{
	margin: 0 auto;
	width: 90%;
	margin-top: 3%;
	background: #A9E2F3;
}

.Titre
{
	background: #A4A4A4;
}

.Card-Body
{
	background: #F2F2F2;
}