
.Home
{
	display: flex;
  flex-direction: column;
  /*background-color: DodgerBlue;*/
}

.Home > div
{
	/*background-color: gray;*/
  	/*margin: 30px;*/
}

.Home-Presentation
{
	/*background: #F5A9A9;*/
}

.Formulaire-Etudiant
{
	/*background: #9FF781;
	margin-top: 10px;
	height: 310px;*/
}

.Formulaire-Projet
{
	/*background: #BE81F7;
	margin-top: 10px;
	height: 310px;*/
}

.Home-MotsCles
{
	/*background: #FAAC58;
	margin-top: 160px;
	height: 270px;*/
}

h1
{
	text-align: center;
}