
.Home-Presentation
{
	background: #F5A9A9;
}

.Home-Etudiant
{
	background: #9FF781;
	margin-top: 1%;
	height: 310px;
}

.Home-Projet
{
	background: #BE81F7;
	margin-top: 1%;
	height: 310px;
}

.Home-MotsCles
{
	background: #FAAC58;
	margin-top: 1%;
	height: 270px;
}

h1
{
	text-align: center;
}