.Etudiants
{
/*background: green;*/
	margin-top: 8%;
}


.Etudiant-Presentation
{	
	/*background: #F5A9A9;*/
}

.Etudiants-Trouves
{
	margin: 0 auto;
	/*background: #58FA58;*/
}

.Etudiant-Resultat
{
	margin: 0 auto;
	width: 90%;
	margin-top: 3%;
	/*background: black;*/
}

.Etudiant-Name
{
	text-align: center;
}

h4
{
	text-align: center;
}

.Titre-Projet
{
	text-align: center;
	color: white;
	background: #2E2E2E;
}

.Information-Projet
{
	background: #D8D8D8;
}

