
.Footer
{
	/*margin: 0 auto;
	text-align: center;
	
	background: black;
	margin: ;
	padding: 0;
	color:white;
	
	position: fixed;
*/
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
	margin-top: 5px;
}
