
.Header {
  
  position: fixed;
  z-index:1;
  left: 0;
  bottom: 77%;
  width: 100%;
  background-color: black;
  height: 180px;
  padding: 20px;
  color: white;
  

}


.Logo img {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.Menu
{
	margin: 0;
	padding: 0;
	list-style: none;
  text-align: right;
}

.Menu li
{
	display: inline-block;
	padding-left: 20px;
}

.Menu li a
{
  color: #FFFFFF;
  text-decoration: none;
}

.Menu li a:hover
{
  color: #FFFF00;
}
